<h2>Detalii echipa</h2>

<p>Nume: <%= team.name %></p>
<p>Jucatori: <%= team.players %></p>
<p>Categorie: <%= team.category %></p>
<p>Creator: <%= team.createdBy.username %></p>

<a href="/teams">Inapoi</a>